.title {
    font-family: "Helvetica", Helvetica, sans-serif;
}

#gridWrapper {
    position: relative;
    width: 960px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    background-color: transparent;
}

#last10 {
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    bottom: 0;
    clear: both;
}

#gameArea {
    margin-top: 20px;
}

.post {
    margin-bottom: 25px;
    padding: 12px 0px 0px 30px;
    background: #f5f8fa;
    font-family: "Helvetica", Helvetica, sans-serif;
}

.post .title {
    height: 38px;
    _height: 41px;
    padding: 12px 30px 0px 30px;
    _padding: 5px 30px 0px 30px;
    letter-spacing: -.5px;
    color: #191919;
}

.post .title a {
    border: none;
    color: #191919;
}

.post .meta {
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: left;
    font-family: Century Gothic;
    font-size: 11px;
    font-style: italic;
}

.post .meta a {
}

.post .entry {
    background: url(images/img02.jpg) no-repeat left top;
    padding: 0px 30px 20px 30px;
    padding-bottom: 20px;
    text-align: justify;
}

.post table {
    width: 100%;
    border-collapse: collapse !important;
    font-family: "Helvetica", Helvetica, sans-serif;
    font-size: 12pt;
}

.post td, th {
    padding: 5px;
    border-collapse: collapse !important;
}

.instr {
    font-family: "Helvetica", Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 1.2;
    margin-bottom: 20px;
    padding: 12px 30px 0px 30px;
    width: 800px;
}

div.popup {
    border:none;
    padding-top:20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 400px;
    height: 100px;
    line-height: 1.5;
    text-align: left;
    display:none;
    position:absolute;
    left:20%;
    top:50%;
    margin:-40px 0 0 -120px;
    background-color: #ff414b;
    -moz-box-shadow: 10px 10px 5px #888888;
    -webkit-box-shadow: 10px 10px 5px #888888;
    -o-box-shadow: 10px 10px 5px #888888;
    box-shadow: 10px 10px 5px #888888;
    font-family: "Helvetica", Helvetica, sans-serif;
    font-variant: all-small-caps;
    font-size: 15pt;
}


.wrapper{
    position: relative;
    float: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #transparent;
}

.edgeWrapper {
    position: relative;
    float: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #transparent;
}

.hedge0, .hedge1, .hedge2, .hedge3, .hedge4, .hedge5 {
    position: relative;
    float: left;
    width: 70px;
    height: 10px;
    background-color: #b0daff;
    /*TODO: change back to white for final version*/
    border-radius: 3px;
    -webkit-transition: width 2s ease, height 2s ease;
    -moz-transition: width 2s ease, height 2s ease;
    -o-transition: width 2s ease, height 2s ease;
    transition: width 2s ease, height 2s ease;
    z-index: 0;
}

.corner0, .corner1, .corner2, .corner3, .corner4, .corner5, .corner6 {
    position: relative;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: blue;
    -webkit-transition: width 2s ease, height 2s ease;
    -moz-transition: width 2s ease, height 2s ease;
    -o-transition: width 2s ease, height 2s ease;
    transition: width 2s ease, height 2s ease;
    z-index: 0;
}

.left1, .left2, .left3, .left4, .left5, .left6 {
    position: relative;
    float: left;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 3px;
    z-index: 0;
}

.vedge {
    position: relative;
    float: left;
    left: 0px;
    width: 10px;
    height: 70px;
    background-color: #b0daff;
    /*TODO: change back to white for final version */
    border-radius: 3px;
    -webkit-transition: width 2s ease, height 2s ease;
    -moz-transition: width 2s ease, height 2s ease;
    -o-transition: width 2s ease, height 2s ease;
    transition: width 2s ease, height 2s ease;
    z-index: 0;
}

body {
    border-width: 0px;
    padding: auto;
    background-color: #f5f8fa !important;
}

#infoPanel {
    /*border: gray solid 1px;*/
    border: none;
    position: relative;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
    padding: 10px;
    font-family: "Helvetica", Helvetica, sans-serif;
    font-size: 12pt;
    /*font-variant: small-caps;*/
    line-height: 1.2;
    width: 300px;
}

#infoPanel input {
    margin-bottom: 5px;
}

#infoPanel div {
    margin-bottom: 10px;
    margin-left: 10px;
    left: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.65;
}

.left1:hover, .left2:hover, .left3:hover, .left4:hover, .left5:hover, .left6:hover {
    background-color: transparent;
}

.edge:hover {
    background-color: #ff2e8a;
}

.hedge1:hover, .hedge2:hover, .hedge3:hover, .hedge4:hover, .hedge5:hover, .hedge0:hover {
    background-color: #ff2e8a;
}

.corner0:hover, .corner1:hover,
.corner2:hover, .corner3:hover,
.corner4:hover, .corner5:hover,
.corner6:hover {
    background-color: #4878ff;
}

.probe.animate {
    animation-name: probePlaced;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.probe.detectedEdge {
    background-color: #25ff72 !important;
}

.hedge.animate {
    animation-name: edgeSelected;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.vedge.animate {
    animation-name: vedgeSelected;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.hedge.final {
    animation-name: hedgeFinal;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.vedge.final {
    animation-name: vedgeFinal;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.hedge.reveal {
    background-color: #ffd51d;
/*    animation-name: hedgeFinal;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;*/
}

.vedge.reveal {
    background-color: #ffd51d;
/*    animation-name: vedgeFinal;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;*/
}

/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

/*
 * Animation for a horizontal edge that has been clicked
 */
@keyframes edgeSelected {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 70px;
        height: 20px;
        background: #13b0f8;
    }

    66% {
        width: 70px;
        height: 20px;
        background: #13b0f8;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #13b0f8;
    }
}

@-moz-keyframes edgeSelected {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 70px;
        height: 20px;
        background: #13b0f8;
    }

    66% {
        width: 70px;
        height: 20px;
        background: #13b0f8;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #13b0f8;
    }
}

@-webkit-keyframes edgeSelected {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 70px;
        height: 20px;
        background: #13b0f8;
    }

    66% {
        width: 70px;
        height: 20px;
        background: #13b0f8;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #13b0f8;
    }
}

@-o-keyframes edgeSelected {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 70px;
        height: 20px;
        background: #13b0f8;
    }

    66% {
        width: 70px;
        height: 20px;
        background: #13b0f8;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #13b0f8;
    }
}

@-ms-keyframes edgeSelected {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 70px;
        height: 20px;
        background: #13b0f8;
    }

    66% {
        width: 70px;
        height: 20px;
        background: #13b0f8;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #13b0f8;
    }
}

/*
 * Animation for a vertical edge that has been clicked
 */
@keyframes vedgeSelected {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 20px;
        height: 70px;
        background: #13b0f8;
    }

    66% {
        width: 20px;
        height: 70px;
        background: #13b0f8;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #13b0f8;
    }
}

@-moz-keyframes vedgeSelected {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 20px;
        height: 70px;
        background: #13b0f8;
    }

    66% {
        width: 20px;
        height: 70px;
        background: #13b0f8;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #13b0f8;
    }
}

@-webkit-keyframes vedgeSelected {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 20px;
        height: 70px;
        background: #13b0f8;
    }

    66% {
        width: 20px;
        height: 70px;
        background: #13b0f8;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #13b0f8;
    }
}

@-o-keyframes vedgeSelected {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 20px;
        height: 70px;
        background: #13b0f8;
    }

    66% {
        width: 20px;
        height: 70px;
        background: #13b0f8;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #13b0f8;
    }
}

@-ms-keyframes vedgeSelected {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 20px;
        height: 70px;
        background: #13b0f8;
    }

    66% {
        width: 20px;
        height: 70px;
        background: #13b0f8;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #13b0f8;
    }
}

/*
 * Animation for final guesses
 */

@keyframes hedgeFinal {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 70px;
        height: 20px;
        background: #12bb2b;
    }

    66% {
        width: 70px;
        height: 20px;
        background: #12bb2b;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #12bb2b;
    }
}

@-moz-keyframes hedgeFinal {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 70px;
        height: 20px;
        background: #12bb2b;
    }

    66% {
        width: 70px;
        height: 20px;
        background: #12bb2b;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #12bb2b;
    }
}

@-webkit-keyframes hedgeFinal {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 70px;
        height: 20px;
        background: #12bb2b;
    }

    66% {
        width: 70px;
        height: 20px;
        background: #12bb2b;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #12bb2b;
    }
}

@-o-keyframes hedgeSelected {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 70px;
        height: 20px;
        background: #12bb2b;
    }

    66% {
        width: 70px;
        height: 20px;
        background: #12bb2b;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #12bb2b;
    }
}

@-ms-keyframes hedgeFinal {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 70px;
        height: 20px;
        background: #12bb2b;
    }

    66% {
        width: 70px;
        height: 20px;
        background: #12bb2b;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #12bb2b;
    }
}

/*
 * Animation for a vertical edge final selection
 */
@keyframes vedgeFinal {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 20px;
        height: 70px;
        background: #12bb2b;
    }

    66% {
        width: 20px;
        height: 70px;
        background: #12bb2b;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #12bb2b;
    }
}

@-moz-keyframes vedgeFinal {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 20px;
        height: 70px;
        background: #12bb2b;
    }

    66% {
        width: 20px;
        height: 70px;
        background: #12bb2b;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #12bb2b;
    }
}

@-webkit-keyframes vedgeFinal {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 20px;
        height: 70px;
        background: #12bb2b;
    }

    66% {
        width: 20px;
        height: 70px;
        background: #12bb2b;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #12bb2b;
    }
}

@-o-keyframes vedgeFinal {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 20px;
        height: 70px;
        background: #12bb2b;
    }

    66% {
        width: 20px;
        height: 70px;
        background: #12bb2b;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #12bb2b;
    }
}

@-ms-keyframes vedgeFinal {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #273df8;
    }

    33% {
        width: 20px;
        height: 70px;
        background: #12bb2b;
    }

    66% {
        width: 20px;
        height: 70px;
        background: #12bb2b;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #12bb2b;
    }
}




/*
 * Animation for a probe that has been clicked
 */
@keyframes probePlaced {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #00ffe5;
        border-radius: 50%;
    }

    33% {
        width: 20px;
        height: 20px;
        background: #ffd630;
        border-radius: 50%;
    }

    66% {
        width: 20px;
        height: 20px;
        background: #ffd630;
        border-radius: 50%;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #ffd630;
        border-radius: 50%;
    }
}

@-moz-keyframes probePlaced {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #00ffe5;
        border-radius: 50%;
    }

    33% {
        width: 20px;
        height: 20px;
        background: #ffd630;
        border-radius: 50%;
    }

    66% {
        width: 20px;
        height: 20px;
        background: #ffd630;
        border-radius: 50%;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #ffd630;
        border-radius: 50%;
    }
}

@-webkit-keyframes probePlaced {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #00ffe5;
        border-radius: 50%;
    }

    33% {
        width: 20px;
        height: 20px;
        background: #ffd630;
        border-radius: 50%;
    }

    66% {
        width: 20px;
        height: 20px;
        background: #ffd630;
        border-radius: 50%;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #ffd630;
        border-radius: 50%;
    }
}

@-o-keyframes probePlaced {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #00ffe5;
        border-radius: 50%;
    }

    33% {
        width: 20px;
        height: 20px;
        background: #ffd630;
        border-radius: 50%;
    }

    66% {
        width: 20px;
        height: 20px;
        background: #ffd630;
        border-radius: 50%;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #ffd630;
        border-radius: 50%;
    }
}

@-ms-keyframes probePlaced {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        background: #00ffe5;
        border-radius: 50%;
    }

    33% {
        width: 20px;
        height: 20px;
        background: #ffd630;
        border-radius: 50%;
    }

    66% {
        width: 20px;
        height: 20px;
        background: #ffd630;
        border-radius: 50%;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        background: #ffd630;
        border-radius: 50%;
    }
}