.wrapper{
    position: relative;
    float: left;
    left: 0px;
    width: auto;
    margin-bottom: 10px;
    background-color: #cccccc
}
.left1{
    position: relative;
    float: left;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: #828282
}
.edge0, .edge1, .edge2, .edge3, .edge4, .edge5, .edge6 {
    position: relative;
    float: left;
    left: 0px;
    width: 10px;
    height: 100px;
    background-color: #63f9ff
}
.left2{
    position: relative;
    float: left;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: #828282
}
.left3{
    position: relative;
    float: left;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: #828282
}
.left4{
    position: relative;
    float: left;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: #828282
}
.left5{
    position: relative;
    float: left;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: #828282
}
.left6{
    position: relative;
    float: left;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: #828282
}
body {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 90%;
    background-color: #e7e7de
}
.left1:hover, .left2:hover, .left3:hover, .left4:hover, .left5:hover, .left6:hover {
    background-color: yellow;
}
.edge0:hover, .edge1:hover, .edge2:hover, .edge3:hover, .edge4:hover, .edge6:hover {
    background-color: #ff2e8a;
}
