div.edge {
    border-width: 0.5px;
    border-style: solid;
    border-color: darkmagenta;
}

div.block {
    border-color: cornflowerblue;
    border-width: 0.5px;
    border-style: dashed;
    background-color:white;
}

div.row {
    border-style: double;
    border-color: chartreuse;
}